<script type="text/javascript">

        (function () {
          var body = document.getElementById('express-admin'),
            navbar = document.getElementById('navbar'),
            layout = localStorage.getItem('layout') || 'fixed';
          body.className = navbar.className =
            (layout == 'fixed') ? 'container' : 'container container-fluid';

            setTimeout(function() {
              if (window.location.href.match('orders/')) {
                var button = document.createElement('button');
                button.innerHTML = 'print';
                button.onclick = function() {
                  alert('here be dragons');return false;
                  debugger
                };
                document.body.appendChild(button);
              }
            }, 5000)
          }());

</script>
