<script src="http://labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.latest.js"
      type="text/javascript" charset="UTF-8"> </script>
<script type="text/javascript">
        (function () {
          var body = document.getElementById('express-admin'),
            navbar = document.getElementById('navbar'),
            layout = localStorage.getItem('layout') || 'fixed';
          body.className = navbar.className =
            (layout == 'fixed') ? 'container' : 'container container-fluid';

            setTimeout(function() {
              if (window.location.href.match('orders/')) {
                var button = document.createElement('button');
                button.innerHTML = 'Print';
                button.onclick = function() {
                  var name = $('input[name="view[orders][records][0][columns][name]"]').prop('value');
                  var address_line_1 = $('input[name="view[orders][records][0][columns][shipping_address_line1]"]').prop('value');
                  var city = $('input[name="view[orders][records][0][columns][shipping_address_city]"]').prop('value');
                  var state = $('input[name="view[orders][records][0][columns][shipping_address_state]"]').prop('value');
                  var zip = $('input[name="view[orders][records][0][columns][shipping_address_zip]"]').prop('value');
                  var total = name + "\n" + address_line_1 + "\n" + city + "," + state + " " + zip;
                  console.log(total);
                  var labelXml = '<DieCutLabel Version="8.0" Units="twips"> \
                    <PaperOrientation>Landscape</PaperOrientation> \
                    <Id>Address</Id> \
                    <PaperName>30252 Address</PaperName> \
                    <DrawCommands> \
                      <RoundRectangle X="0" Y="0" Width="1581" Height="5040" Rx="270" Ry="270"/> \
                    </DrawCommands> \
                    <ObjectInfo> \
                      <AddressObject> \
                        <Name>Address</Name> \
                        <ForeColor Alpha="255" Red="0" Green="0" Blue="0"/> \
                        <BackColor Alpha="0" Red="255" Green="255" Blue="255"/> \
                        <LinkedObjectName></LinkedObjectName> \
                        <Rotation>Rotation0</Rotation> \
                        <IsMirrored>False</IsMirrored> \
                        <IsVariable>True</IsVariable> \
                        <HorizontalAlignment>Left</HorizontalAlignment> \
                        <VerticalAlignment>Middle</VerticalAlignment> \
                        <TextFitMode>ShrinkToFit</TextFitMode> \
                        <UseFullFontHeight>True</UseFullFontHeight> \
                        <Verticalized>False</Verticalized> \
                        <StyledText> \
                        </StyledText> \
                        <ShowBarcodeFor9DigitZipOnly>False</ShowBarcodeFor9DigitZipOnly> \
                        <BarcodePosition>BelowAddress</BarcodePosition> \
                        <LineFonts/> \
                      </AddressObject> \
                      <Bounds X="332" Y="150" Width="4455" Height="1260"/> \
                    </ObjectInfo> \
                  </DieCutLabel>';
                  var label = window.dymo.label.framework.openLabelXml(labelXml);
                  console.log(window.dymo.label.framework.getPrinters());
                  label.setObjectText("Address", total);
                  label.print("DYMO LabelWriter 450 Turbo");
                };
                document.body.appendChild(button);
              }
            }, 5000)
          }());

</script>
